@charset "UTF-8";

/* 0. Tailwinds injections */
@tailwind base;
@tailwind components;
@tailwind utilities;

/* 1. Configuration and helpers*/
/* Variables for dark theme */
:root.dark {
}
/* Variables for light theme */
:root.light {
}

/* 2. Vendors */

/* 3. Base stuff */
/* (3.0) Tailwind */
@layer base {

}

/* 3.1 Core */
html, body {
	scroll-behavior: smooth;
	/*background-color: var(--c-background-color);*/
	/*color: var(--c-text-color);*/
}

/* 3.2 Typography */
html, body {
	/*font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,*/
	/*Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;*/
	font-family: Quicksand, sans-serif;
	font-size: 18px;
	font-weight: 400;
	-webkit-text-size-adjust: 100%;
}

/* 4. Layout-related sections */

/* 5. Components */
@layer components {
	p {
		@apply my-3;
	}
}

/* 6. Themes */

/* 7. App style */
